body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: pink;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.user-choice {
    margin-bottom: 20px;
}

.user-choice button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.user-choice button:hover {
    background-color: #3e8e41;
}

.computer-choice {
    margin-bottom: 20px;
}

.computer-choice p {
    font-size: 24px;
    font-weight: bold;
}

.result {
    margin-bottom: 20px;
}

.result p {
    font-size: 24px;
    font-weight: bold;
    color: #00698f;
}